.headerview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  padding-top: 30px;
}

.Navigroup {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 100px;
}

.clearbuttonH button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  padding: 5px 0;
}

.firstcontent {
  display: flex;
  gap: 50px;
}

.seccondContent {
  /* display: flex; */
  padding-left: 100px;
}

.ourstory {
  flex: 1;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.storyfont {
  font-size: 32px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ourpic {
  flex: 1;
}

.ourpic img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.category {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding-top: 50px;
}

.categorybox {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00000030;
  box-sizing: border-box;
}

.categorybox:hover {
  background-color: #db4444;
  cursor: pointer;
  color: white;
}
.categorybox:hover img {
  fill: white;
  width: 30%;
  height: 30%;
}

.categorybox img {
  padding-top: 5px;
}

.boxfont {
  font-size: 14px;
  padding-top: 3px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.boxfontH {
  font-size: 20px;
  padding-top: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

v-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding-top: 50px;
}

.containerbox {
  background-color: rgb(255, 255, 255);
  /* width: 200px;
  height: 200px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
}

.logobox {
  display: flex;
  gap: 2px;
  padding-top: 2px;
}

.container4 {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.containerbox4 {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dots span {
  height: 10px;
  width: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////////////////////// */
body,
html {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  width: 100%;
}


.left-menu {
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 80px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}

.list-menu {
  margin-top: 0%;
  margin-bottom: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}

.bottom-menu {
  background-color: #000000;
  color: #ffffff;
  height: 440px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px 0px 20px 0px;
}

.bottom-menu .footer-container {
  display: flex;
  gap: 10px;
  /* align-items: center; */
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  width: 100%;
}

.bottom-menu .box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

.box input[type="text"] {
  width: 200px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: #000000;
  background-image: url("../Asset/send.svg");
  background-size: 16px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
}

.img-app {
  display: flex;
  gap: 10px;
}

.img-app .img-storeapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.img-social {
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
  /* justify-items: start; */
}

.copyright {
  display: flex;
  gap: 10px;
  color: rgba(254, 254, 254, 0.304);
}

.carousel {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 344px;
  margin: 20px;
  margin-right: 150px;
  border: 1px solid #bcb1b1;
}

.buttonviewproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 20px;
}

.buttonviwe {
  background-color: #db4444;
  color: white;
  border: none;
  padding: 16px 48px 16px 48px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
