body,
html {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  width: 100%;
}

h3 {
  font-size: 38px;
  margin: 0px 0px 0px 0px;
}

.Top-menu {
  height: 60px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 89px;
  width: 100%;
  top: 40px;
  box-sizing: border-box;
  border: 1px solid #a2a2a2;
}

.Top-menu ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
}

.Top-menu ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Top-menu .shoppingbar {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  /* list-style-type: none; */
}

.left-menu {
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(245, 41, 41); */
  width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  margin-right: 20px;
}

.list-menu {
  margin-top: 0%;
  margin-bottom: 0%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}

#menu li a {
  font-style: normal;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
  justify-content: space-between;
  /* padding: 10px 20px; */
  color: black;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
}

.bottom-menu {
  background-color: #000000;
  color: #ffffff;
  height: 440px;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 100px 0px 20px 0px;
}

.bottom-menu .footer-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  width: 100%;
}

.bottom-menu .box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 200px;
}

/* /////////////////////////////////////////////////// */

.announcement {
  background-color: #000000;
  color: #ffffff;
  height: 48px;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.announcement a {
  color: #ffffff;
  text-decoration: underline;
  /* font-weight: bold; */
  margin-left: 10px;
}

.announcement button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding-left: 80px;
  /* margin-left: 20px; */
  cursor: pointer;
}

/* /////////////////////////////////////////////////// */

input[type="search"] {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../Asset/search.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
}

.box input[type="text"] {
  width: 200px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: #000000;
  background-image: url("../Asset/send.svg");
  background-size: 16px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
}

/* /////////////////////////////////////////////////// */

.img-app {
  display: flex;
  gap: 10px;
}

.img-app .img-storeapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.img-social {
  display: flex;
  /* justify-content: space-around; */
  gap: 30px;
  /* justify-items: start; */
}

.copyright {
  display: flex;
  gap: 10px;
  color: rgba(254, 254, 254, 0.304);
}

/* /////////////////////////////////////////////////// */

.container1 {
  display: flex;
}

.container2 {
  padding-left: 100px;
  margin: 60px 0px 60px 0px;
  /* height: 384px; */
  background-color: rgba(255, 255, 255, 0.304);
  /* box-sizing: border-box; */
}

.container3 {
  /* display: flex; */
  padding-left: 100px;
  /* margin-left: 120px; */
  height: 300px;
  background-color: rgba(255, 255, 255, 0.304);
  /* box-sizing: border-box; */
}

.container4 {
  /* display: flex; */
  padding-left: 100px;
  padding-right: 100px;
  /* margin-left: 120px; */
  /* height: 610px; */
  background-color: rgba(255, 255, 255, 0.304);
  margin-bottom: 100px;
  /* box-sizing: border-box; */
}

.container5 {
  /* display: flex; */
  padding-left: 100px;
  /* margin-left: 120px; */
  height: 700px;
  background-color: rgba(255, 255, 255, 0.304);
  /* box-sizing: border-box; */
}

/* /////////////////////////////////////////////////// */

.carousel {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 344px;
  /* margin: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  border: 1px solid #bcb1b1;
}

/* /////////////////////////////////////////////////// */

.buttonviewproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* margin-left: 120px; */
  margin-bottom: 20px;
}

.buttonviwe {
  background-color: #db4444;
  color: white;
  border: none;
  padding: 16px 48px 16px 48px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* /////////////////////////////////////////////////// */

.product {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 20px;
  padding: 0px 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-right: 100px;
}

.explore-product {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-right: 100px; */
}

.product-slider {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 0px 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-top: 20px;
}

.product-slider::-webkit-scrollbar {
  display: none;
}

.product-card {
  min-width: 200px;
  height: 220px;
  /* min-height: 10px; */
  background: #ebe5e5;
  border-radius: 4px;
  padding: 15px;
  position: relative;
  flex-shrink: 0;
}

.product-image {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 50%;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #db4444;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

/* /////////////////////////////////////////////////// */

.categorybox {
  background-color: rgb(255, 255, 255);
  width: 130px;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00000030;
  box-sizing: border-box;
}

.categorybox:hover {
  background-color: #db4444;
  cursor: pointer;
  color: white;
}

.categorybox:hover svg {
  fill: white;
  width: 50px;
  height: 50px;
}

.categorybox svg {
  width: 50px;
  height: 50px;
}

.categoryimg {
  width: 50px;
  height: 50px;
  /* color: black; */
}

.category {
  display: flex;
  flex-direction: row;
  gap: 55px;
  margin-top: 30px;
}

/* /////////////////////////////////////////////////// */

.bestsell-container {
  display: flex;
  flex-direction: column;
}

.basesell-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 30px;
}

/* /////////////////////////////////////////////////// */

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 20px;
  /* grid-row-gap: 0px; */
  box-sizing: border-box;
  overflow: hidden;
  height: 600px;
  /* width: 100%; */
}

/* .parent div {
  min-width: 0;
  min-height: 0;
  position: relative;
}
.parent img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */
/* .div1 {
  grid-area: 1 / 1 / 4 / 3;
  background-color: pink;
} */
.div2 {
  /* grid-area: 1 / 3 / 3 / 5; */
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  /* background-color: lightblue; */
  grid-row-gap: 20px;
}

.div2row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

/* .div3 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: lightgreen;
}
.div4 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: mediumpurple;
} */

/* /////////////////////////////////////////////////// */

.slogan-all {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.slogan {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.icons-slogan {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: black;
  border: 10px solid #cccaca;
  margin-bottom: 10px;
}

.icons-slogan svg {
  width: 30px;
  height: 30px;
  fill: white;
  stroke-width: 30px;
}


#backToTop {
  position: fixed;
  bottom: 30px;
  right: 40px;
  /* z-index: 99; */
  background-color: #d5d7d5;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 18px;
  cursor: pointer;
  display: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
  /* width: 48px;
  height: 48px; */
}

#backToTop:hover {
  background-color: #a0a1a0;
}

#backToTop svg {
  width: 20px;
  height: 20px;
}